[submodule "src/graphics/window"]
	path = src/graphics/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "src/graphics/shader_pipeline"]
	path = src/graphics/shader_pipeline
	url = git@github.com:cpp-toolbox/shader_pipeline.git
[submodule "src/interaction/camera"]
	path = src/interaction/camera
	url = git@github.com:cpp-toolbox/camera.git
[submodule "src/interaction/mouse"]
	path = src/interaction/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "src/graphics/textured_model_loading"]
	path = src/graphics/textured_model_loading
	url = git@github.com:cpp-toolbox/textured_model_loading.git
[submodule "src/utils/fixed_frequency_loop"]
	path = src/utils/fixed_frequency_loop
	url = git@github.com:cpp-toolbox/fixed_frequency_loop.git
[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
